/* Page-specific styles for the Home page */

/* Hero Section with Image */
.hero-split {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .hero-split .text {
    min-width: 280px;
  }
  
  .hero-split .image {
    flex: 1;
    min-width: 280px;
    text-align: center;
  }
  
  .hero-split .image img {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }
  
  ul li a {
    color: #013c76;
    text-decoration: none;
  }
 
  ul li a:hover{
    text-decoration: underline;
  }
  
  
  
  /* media queries */
  @media screen and (min-width: 896px) {
    .hero-split {
      flex-direction: row;
      align-items: center;
      gap: 40px;
    }
  }