/* Page-specific styles for the faq page */

html {
  overflow-y: scroll;
}

/* q's */

.questions {
  margin: 25px 0;
}
.question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.question h6 {
  font-weight: 600;
  font-size: 15px;
  color: #03386d;
}

.answer {
  color: #013c76;
  margin: 3px 0;
  line-height: 1.5;
  text-wrap: balance;
  font-weight: 400;
  font-size: 14px;
  display: none;
}

.faq-section {
  margin: auto;
  padding: 20px;
  height: 78vh;
  width: 100%;
}

.faq-section h4 {
  text-align: center;
  color: #003366;
  margin-bottom: 30px;
  border-bottom: 2px solid #d4af37;
  padding-bottom: 10px;
}

.faq-item:hover {
  box-shadow: 0 4px 10px rgba(0, 51, 102, 0.1);
}
